*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

#nav-bar{
  font-family: 'Comfortaa', cursive;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

#nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link-a{
  padding-left: 1rem;
}

#social-icons{
  display: flex;
  justify-content: space-around;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2rem;
}

.social-icon-image{
  height: 25pt;
  width: 25pt;
  margin-right: 8px;
}

#nav-bar-container{
  background-image: url("/images/nav-background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: relative;
  border-bottom: 8px solid #a74de6;
  background-size: 100%;
  background-position-y: 10%;
}

.page-content{
  padding-left: 2rem;
  padding-right: 2rem;
}

#welcome-video-container {
  width: 100%;
  height: 35%;
  position: relative;
  overflow: hidden;
}

#videoBlock{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-logo{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

#video-logo-text{
  font-family: 'Comfortaa', cursive;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

#video-logo-caption{
  font-size: 2rem;
  text-align: center;
  color: white;
}

.header-text{
  font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
}

.join-header{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.join-text{
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 6px;
  font-size: 1.25rem;
}

#join-button{
  background-color: #a74de6;
  border: 0.5px solid white;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  align-self: center;
  margin-top: 1rem;
}

#join-button:hover{
  background-color: white;
  color: #a74de6
}

.center-bttn{
  text-align: center;
}

.caption-text{
  font-size: .75rem;
}

.padding-container{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#welcome-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.welcome-widget{
  text-align: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.welcome-image{
  width: 4rem;
  height: 4rem;
  align-self: center;
}

.purple-background{
  background-color: #a74de6;
  padding-bottom: 3rem;
}

#memories{
  border: 8px solid #a74de6;
  flex-grow: 2;
  margin-left: 2rem;
  background-image: url("/images/mem-background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: absolute;
  background-size: 100%;
  background-position-y: 10%;
  text-align: center;
}

.memory-header{
  font-family: 'Comfortaa', cursive;
  color: #a74de6;
  margin: 0;
  padding: 1rem;
}

#memory-white-container{
  margin: 1rem;
  text-align: center;
  background-color: #ffffffb8;
  display: flex;
  flex-direction: column;
}

#current-jams{
  display: flex;
}

.play-list-header{
  margin: 0;
  padding-bottom: 1rem;
  color: #a74de6;
}

#footer-container{
 padding-top: 1.5rem;
}

.footer-logo{
  font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
  margin-top: .25rem;
  color: white;
  text-align: center;
}

#footer-nav{
  text-align: center;
  color: white;
}

.footer{
  background-color: #a74de6;
  padding-bottom: .25rem;
}

#sign-up-container{
  display: flex;
  flex-direction: column;
  width: 425px;
}

#log-in-container{
  display: flex;
  flex-direction: column;
  width: 425px;
}

#name-inputs{
  display: flex;
  justify-content: space-between;
}

.signup-input{
  border: 1px solid lightgray;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.name-input{
  width: 48%;
}

.full-width-input{
  width: 100%;
}

.access-button{
  font-size: 1rem;
  border: 1px solid #a74de6;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: white;
  color: #a74de6;
}

.access-button:hover{
  background-color: #a74de6;
  color: white;
}

.sign-up-page{
  background-color: #fcf7ff;
  min-height: 85vh;
}

.user-page{
  background-color: #fcf7ff;
  min-height: 85vh;
}

.purple-text{
  color: #a74de6;
}

.component-link{
  font-family: 'Open Sans', sans-serif;
  color: #a74de6;
  text-decoration: none;
}

.component-link:hover{
  text-decoration: underline;
}

#user-header{
  display: flex;
  justify-content: space-between;
}

.playlist-search-btn{
  background-color: white;
  border: 1px solid #a74de6;
  padding: 5px 10px;
}

.playlist-search-btn:hover{
  color: white;
  background-color: #a74de6;
}

.table-results{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #d59bff;
}

.table-results-artist-page{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-top: 1px solid #d59bff;
  border-left: 1px solid #d59bff;
  border-right: 1px solid #d59bff;
}

.table-header-row{
  text-align: left;
  font-weight: bold;
  background-color: #c883fd;
  border-bottom: 1px solid #d59bff;
  color: white;
}

.table-listing{
  font-size: .75rem;
  border-bottom: 1px solid #d59bff;
  text-align: left
}

.table-listing-artist-page{
  font-size: .75rem;
  text-align: left;
}

.table-listing-final-row{
  font-size: .75rem;
  text-align: center;
  border-bottom: 1px solid #d59bff;
}

.table-listing:hover{
  background-color: rgb(252, 249, 249)
}

.table-listing-item-center{
  text-align: center;
}

#playlist-search-container{
  display: none;
  border: 1px solid #a74de6;
  background-color: rgb(238, 238, 238);
  padding: 2rem;
}

#playlist-search-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#playlist-search-inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

#user-setlist-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 920px;
  margin: auto;
}

#user-setlist-listing:after {
  content: "";
  flex: auto;
  justify-content: space-between;
}

.setlist-item{
  background-color: white;
  border: 1px solid lightgray;
  width: 210px;
  margin: 10px;
  height: 170px;
}

.setlist-thumbnail{
  height: 80px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 0;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  background-image: url(/images/setlist-thumbnail.jpg);
  background-position: bottom left;
}

.setlist-caption{
  padding: 5px 1rem;
  border-top: 1px solid lightgray;
  font-size: .85rem;
}

.caption-header{
  font-weight: bold;
}

.caption-location{
  margin: 0;
  font-size: .7rem;
}

.event-date{
  margin: 10px 0;
  font-size: .7rem;
}

.setlist-listing-header{
  width: 950px;
  margin: auto;
}

.no-margin{
  margin: 0;
}

.user-info-icon{
  padding-top: 6px;
  width: 15px;
  margin-right: 5px;
}

#user-info{
  display: flex
}

.user-info-container{
  padding-right: 1rem;
}

#user-landing-page{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#user-landing-right-pane{
  width: 37%;
  padding-left: 1.5rem;
  border-left: 1px solid lightgray
}

#user-landing-left-pane{
  width: 60%;
  padding-right: 1.5rem;
}

.underline-hover:hover{
  text-decoration: underline;
}

.user-page-listing{
  padding: 10px 18px;
}

.user-page-favorite-icon{
  width: 30px;
}

.artist-listing{
  padding: 5px 15px;
}

.hide-artist-details{
  display: none;
}

.artist-details{
  border-top: 1px solid #d59bff;
  font-size: .75rem;
  background-color: rgb(243, 243, 243);
  padding: 1.5rem;
}

#artist-details-container{
  display: flex;
  flex-wrap: wrap;
}

.artist-details-item{
  background-color: white;
  border: 1px solid lightgray;
  width: 180px;
  padding: 10px;
  margin: 5px;
}

.black-text{
  color: black
}

.artist-detail-header{
  font-weight: bold;
}

.small-icon{
  width: 15px;
}

.smaller-icon{
  width: 8px;
}

.all-artist-table{
  width: 450px;
}

.top-artist-li{
  font-size: .75rem;
}

.top-artist-link{
  color: black;
  text-decoration: none;
}

.top-artist-link:hover{
  text-decoration: underline;
}
